@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
  font-family:roboto;
}
body{
  background:#212121;
  color:#fff;
}
.outer{
  position:relative;
  margin-top: 90px;
  margin-left:200px
  

}

.inner{
  position:absolute;
  border:0px solid #ddd;
  height:50px;
  line-height:50px;
  font-size:25px;
  text-transform:uppercase;
  overflow:hidden;
  display:inline-block;
}
.inner span{
  animation:animate 10s ease infinite;
  position:relative;
  color:white
}
@keyframes animate{
  0%,100%{
    top:0;
  }
  20%{
    top:0px;
  }  
  25%{
    top:-50px;
  }
  45%{
    top:-50px; 
  }
  50%{
    top:-100px;
  }
  70%{
    top:-100px;
  }
  75%{
    top:-150px;
  }
  95%{
    top:-150px;
  }
}
